html {
    height: 100%;
}
body {
    height: 100%;
    background: white;
    margin: 0;
    font-family: 'Roboto';
    font-weight: 400;
}

main {
    height: 100%;
}

.center {
    height: 100%;
	max-width: 940px;
    margin: 0 auto;
}

li {
    list-style: none;
}

ul, h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #333333;
    &:hover {
        text-decoration: underline;
    }
}

.title {
	padding: 15px;
    text-align: center;
}

.icon-arr-down {
  background-image: url(../img/sprites/arrows.png);
  background-position: 100% 0px;
  background-repeat: no-repeat;
  width: 9px;
  height: 6px;
}
.icon-arr-up {
  background-image: url(../img/sprites/arrows.png);
  background-position: 0px -26px;
  width: 10px;
  height: 6px;
}