body {
//    background: url('../img/brick_5.jpg') 0 0 no-repeat;
    background: #e1e1e1;
}

.center {
	max-width: 500px;
}

li {
    list-style: none;
}

ul, h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.title {
	padding: 15px;
    text-align: center;
    &--mt {
//        margin-top: 330px;
    }
}