body, html {
//    background: url('../img/brick_5.jpg') 0 0 no-repeat;
    background: #e1e1e1;
//    width: 100%;
//    height: 100%;
    margin: 0;
    font-family: 'Roboto';
    font-weight: 400;
//    overflow: hidden;
}

.center {
	max-width: 940px;
    margin: 0 auto;
}

li {
    list-style: none;
}

ul, h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.title {
	padding: 15px;
    text-align: center;
    &--mt {
//        margin-top: 330px;
    }
}

.icon-arr-down {
  background-image: url(../img/sprites/arrows.png);
  background-position: 100% 0px;
  background-repeat: no-repeat;
  width: 9px;
  height: 6px;
}
.icon-arr-up {
  background-image: url(../img/sprites/arrows.png);
  background-position: 0px -26px;
  width: 10px;
  height: 6px;
}