.advantages {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    .advantages-list {
        text-align: center;
        margin: -10px;
        &__item {
            display: inline-block;
            margin: 10px;
            width: 250px;
            text-align: left;
            vertical-align: top;
            @media #{$mobile} {
            margin-bottom: 15px;
        }
        }
        &__inner {
            position: relative;
            &.-active {
                .advantages-list__wrapper {
                    position: relative;
                    border: 1px solid #0054a6;
                    box-shadow: 1px 2px 10px rgba(0, 156, 255, .4);
                    z-index: 2;
                    background: #fff;
                }
                h4 {}
                p {
                    display: block;
                }
            }
        }
        &__wrapper {
            transition: background, color, border-color .3s;
            box-shadow: 1px 2px 4px rgba(0, 156, 255, .2);
            border: 1px solid #acc7e1;
        }
        &__block {
            height: 92px;
            cursor: pointer;
            &._one-line {
                @media #{$mobile} {
                    height: auto;
                }
            }
            h4 {
                padding: 14px 25px;
                color: #000;
            }
            p {
                display: none;
                font-size: 15px;
                line-height: 20px;
                padding: 0 35px 25px 25px;
                margin: -5px 0 0 0;
            }
        }
    }
}

// Порядок
// 1. advantages-list__inner --- установленно относительное позиционирование, этот класс используется в скрипте для клика по нему и последующего добавления или снятия класса -active

// 2. при добавлении класса -active мы изменяем оформление .advantages-list__wrapper с оформления для закрытого эл на оформление для открытого эл. этот блок отвечает за оформление.

// 3. advantages-list__block --- этому блоку задана высота и от него же спрятан p.

// 4. advantages-list__block_one-line (для mobile) переключает высоту на значение auto и это позволяет сдвигать вниз нижние блоки.