.slider-content {
    margin-top: 30px;
    &__img {
        position: relative;
        width: 100%;
        height: 300px!important;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__caption {
        position: absolute;
        top: 0;
        left: 5%;
        width: 250px;
        height: 100%;
        background: rgba(255, 150, 38, 0.5);
        &--right {
            left: auto; // если нужно изменить сторону размещения блока 
            right: 5%;
        }
        h4 {
            padding: 20px 15px;
            text-transform: uppercase;
        }
        p {
            width: 250px;
            padding: 0 15px;
            font-size: 14px;
            overflow: hidden;
            overflow-y: hidden;
            text-overflow: ellipsis;
//            white-space: pre-wrap;
//            word-wrap: break-word;
//            white-space: pre-wrap;
        }
    }
    &__wrapper {
        width: 250px;
        column-width: 250px;
        height: 100%;
    }
}