.footer-test {
    height: 150px;
    @media #{$mobile} {
            text-align: center;
        }
    &__list {
        float: right;
        @media #{$mobile} {
            float: none;
        }
        li {
            display: inline-block;
            width: 80px;
            height: 80px;
            margin: 0 10px;
            background: pink;
        }
    }
    &__copyright {
        float: left;
        width: 120px;
        height: 100px;
        background: yellow;
        @media #{$mobile} {
            float: none;
            margin: 0 auto;
        }
    }
}