.goods {
    &-nav {
        display: inline-block;
        width: 30%;
        height: 500px;
        vertical-align: top;
        background: #9f9e9d;
        &__list {
            padding-left: 20px;
        li {
            margin: 10px 0;
            a {
                color: #454545;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    }
    &-content {
        position: relative;
        display: inline-block;
        width: 69%;
        height: 100%;
        vertical-align: top;
        background: #ababab;
    }
}

// STYLES CATALOG BLOCK

.c-phones,
.c-tablet,
.c-gadget,
.c-laptop,
.c-tv {
    display: none;
    position: absolute;
    width: 648px;
    height: 350px;
    top: 100%;
    left: 0%;
    background: #50fdff;
    }
.c-phones {
    background: #458c00;
}

.c-tablet {
    background: #5c50ff;
}

.c-gadget {
    background: #50fdff;
}
.с-laptop {
            background: #50fdff;
}

.c-tv {
    background: red;
}


