.images {
    text-align: center;
    &__list {
        
    }
    &__item {
        position: relative;
        display: inline-block;
        margin-left: -4px;
        margin-top: -4px;
        transition: .3s;
        &::before {
            position: absolute;
            content: '';
            margin-left: -15px;
            top: 75px;
            left: 50%;
            width: 20px;
            height: 2px;
            background: #fff;
            opacity: 0;
        }
        &::after {
            position: absolute;
            content: '';
            margin-left: -15px;
            top: 75px;
            left: 50%;
            width: 20px;
            height: 2px;
            background: #fff;
            transform: rotate(90deg);
            opacity: 0;
        }
        &:hover {
            &::before
            &::after {
                opacity: 1;
            }
        }
    }
    a {
        position: relative;
        display: block;
        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: #000;
            z-index: 1;
            opacity: 0;
        }
    }
        &:hover {
                opacity: .3;
            }
}