.nav-fixed {
    position: fixed;
    top: 5%;
    right: 5%;
    text-align: left;
    z-index: 1;
    li {
        margin-bottom: 10px;
        a {
            color: #32287c;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}