.menu {
    position: relative;
    max-width: 500px;
    height: 250px;
    text-align: center;
    margin-bottom: 50px;
    &__list {
        @media #{$mobile} { // стили для навигации в mobile варианте
            position: absolute;
            width: 300px;
            top: 50px;
            left: -300px;
            transition: ease 0.5s;
            background: #000;
    }
}    
    &__items {
        display: inline-block;
        margin: 0 10px;
        padding: 5px 10px;
        cursor: pointer;
        border: 1px solid transparent;
        &:hover {
            border-bottom: 1px solid gray;
        }
        @media #{$mobile} { // стили для навигации в mobile варианте
            display: block;
            margin: 10px 5px;
        }
    }
}

.button {
	display: none;
    @media #{$mobile} {
        display: block;
    }
}

.show {
    position: absolute;
    left: 0;
}