.select {
    &__box {
        display: inline-block;
        width: 170px;
        vertical-align: top;
    }
    &__choice {
        display: block;
        cursor: pointer;
        background-image: url(../img/sprites/arrows.png);
        background-position: 100% 5px;
        background-repeat: no-repeat;
    }
    &__list {
        display: none;
    }
}

.display {
    background-position: 100% -21px;
}